<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.junhetang.doctor">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <!--8.0 申请安装apk 权限-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!--网易IM 需要-->
    <!-- 访问网络状态-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 控制呼吸灯，振动器等，用于新消息提醒 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 外置存储存取权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 多媒体相关 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 如果需要实时音视频通话模块，下面的权限也是必须的。否则，可以不加 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <!-- 【必须】 信鸽SDK所需权限   -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 【常用】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- 网易IM 需要，SDK 权限申明, 第三方 APP 接入时，请将 com.netease.nim.demo 替换为自己的包名 -->
    <!-- 和下面的 uses-permission 一起加入到你的 AndroidManifest 文件中。 -->
    <permission
        android:name="com.junhetang.doctor.permission.RECEIVE_MSG"
        android:protectionLevel="signature" />
    <!-- 网易IM 需要，接收 SDK 消息广播权限， 第三方 APP 接入时，请将 com.netease.nim.demo 替换为自己的包名 -->
    <uses-permission android:name="com.junhetang.doctor.permission.RECEIVE_MSG" />


    <application
        android:name=".application.DocApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 防止有的构建工具（如Maven、Ant等）不支持manifest merging，特意在主project的manifest中声明一次 -->
        <meta-data
            android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
            android:value="GlideModule" />

        <!-- 7.0 文件临时权限路径 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!--多渠道打包-->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <!-- 网易IM，APPkey, 可以在这里设置，也可以在 SDKOptions 中提供。
          如果 SDKOptions 中提供了，取 SDKOptions 中的值。
          dev:2e3de4134edc75184f5fa5f67a8a2ae2
          release:5edefcfb5b5abeb615aea00f15a6943d-->
        <meta-data
            android:name="com.netease.nim.appKey"
            android:value="5edefcfb5b5abeb615aea00f15a6943d" />
        <!-- 云信后台服务，请使用独立进程。 -->
        <service
            android:name="com.netease.nimlib.service.NimService"
            android:process=":core" />
        <!-- 云信后台辅助服务 -->
        <service
            android:name="com.netease.nimlib.service.NimService$Aux"
            android:process=":core" />
        <!-- 云信后台辅助服务 -->
        <service
            android:name="com.netease.nimlib.job.NIMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":core" />
        <!-- 云信监视系统启动和网络变化的广播接收器，保持和 NimService 同一进程 -->
        <receiver
            android:name="com.netease.nimlib.service.NimReceiver"
            android:exported="false"
            android:process=":core">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <!-- 云信进程间通信 Receiver -->
        <receiver android:name="com.netease.nimlib.service.ResponseReceiver" />
        <!-- 云信进程间通信service -->
        <service android:name="com.netease.nimlib.service.ResponseService" />
        <!-- 云信进程间通信provider -->
        <provider
            android:name="com.netease.nimlib.ipc.NIMContentProvider"
            android:authorities="com.junhetang.doctor.ipc.provider"
            android:exported="false"
            android:process=":core" />

        <!-- 信鸽推送 YOUR_PACKAGE_PATH.CustomPushReceiver需要改为自己的Receiver： -->
        <receiver
            android:name="com.junhetang.doctor.receiver.XGMessageReceiver"
            android:exported="true">
            <intent-filter>
                <!-- 接收消息透传 -->
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
                <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
                <action android:name="com.tencent.android.tpush.action.FEEDBACK" />
            </intent-filter>
        </receiver>


        <!--微信分享-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--qq分享-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <activity
            android:name=".ui.activity.welcome.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashAppTheme" />
        <activity
            android:name=".ui.activity.welcome.TranslucentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentAppTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.login.LoginActivity"
            android:theme="@style/translucent" />
        <activity
            android:name=".ui.activity.home.LogoutActivity"
            android:launchMode="singleTask"
            android:theme="@style/translucent" />
        <activity
            android:name=".ui.activity.fragment.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.login.RegisteActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.login.ResetPasswordActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.mine.SetPriceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.activity.mine.AuthStep1Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activity.mine.ChooseGoodAtActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.mine.AuthStep2Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activity.mine.AuthStep3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.mine.AuthStep4Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.mine.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.mine.UserExplainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.mine.AddUseInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.mine.UserNoticeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activity.mine.wallet.WalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.mine.wallet.WithdrawActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activity.mine.wallet.AddBankCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.mine.wallet.MyBankCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.mine.wallet.DeleteBankCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.mine.wallet.DealDetailListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.mine.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.mine.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.patient.PatientFamilyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.patient.PatientCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.patient.RemarkNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.patient.PatienHealthRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.home.OpenPaperCameraActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activity.home.OpenPaperOnlineActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activity.home.ChooseDocAdviceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activity.patient.PatientListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.home.SearchSkillNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.home.CommUsePaperActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.home.CommPaperActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.home.ChooseCommActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.patient.AddPatientJZRActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.home.AddDrugActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.home.CheckPaperActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.home.HistoryPaperActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.activity.home.JiuZhenHistoryActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.activity.find.GuildNewsListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.home.SystemMsgListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.home.JobScheduleActivity"
            android:screenOrientation="portrait" />


        <!--im-->
        <activity
            android:name=".ui.nimview.QuickReplyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.nimview.CommMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.nimview.AddCommMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.nimview.PaperH5Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.nimview.CheckPaperH5Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.nimview.RecentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.nimview.P2PChatActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

    </application>

</manifest>